<section class="header">
    <div class="">
        <nav>
            <a href="#"><img src="../../../assets/images/logo.png"></a>
            <div class="nav-links" id="navLinks">
                <i class="bi bi-x-lg" (click)="hideMenu()"></i>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <i class="bi bi-list" (click)="showMenu()"></i>
        </nav>
  
        <div class="text-box">
  
            <h1>Fresh Organic Food
                at Narayan Catering</h1>
            <p>We enable people to enjoy locally grown eco-friendly
                and healthy foods that are reasonably priced and
                conveniently delivered.</p>
        </div>
    </div>
  
</section>
