<div class="aboutwraper">
    <div class="container">
        <div class="aboutdetail">
            <div class="abouttext">
                <h1>About Narayan Catering</h1>
                <h5>The Perfect Solution For Any Occasion.</h5>
                <span>We're dedicated to giving you the very best service, with a focus on
                    Quantity of food & value of money.</span>
                <p>SPECIALITY : Corporate Events, Private Dinners, Weddings,
                    Baby Shower, Engagement Parties, Festivals, Rehearsal Dinners,
                    Birthday Parties, Anniversaries, Family Reunions, Progressive Dinners
                    and Holiday Parties.</p>
            </div>
            <div class="aboutlogo">
                <img src="assets/images/about-logo.png" alt="">
            </div>
        </div>
    </div>
</div>